body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #141e30, #243b55);
  font-family: Arial;
  color: white;
}

.container {
  text-align: center;
}

.circle {
  position: relative;
  width: 220px;
  height: 220px;
  margin: 20px auto;
}

svg {
  transform: rotate(-90deg);
}

circle {
  fill: none;
  stroke-width: 10;
}

.bg {
  stroke: #444;
}

.progress {
  stroke: #00ffcc;
  stroke-dasharray: 628; /* 2πr = 2*3.14*100 */
  stroke-dashoffset: 628;
  transition: stroke-dashoffset 1s linear;
}

.time {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 32px;
}

button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  opacity: 0.8;
}
