body {
  margin: 0;
  height: 100vh;
  font-family: Arial;
  overflow: hidden;
  color: white;
}

/* START SCREEN */
.start-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle, #1a0000, #000);
}

/* GLOW BUTTON */
.glow-btn {
  font-size: 50px;
  padding: 30px 80px;
  border: none;
  border-radius: 20px;
  background: #ff3c00;
  color: white;
  cursor: pointer;
  box-shadow:
    0 0 30px #ff3c00,
    0 0 60px #ff0000,
    0 0 120px #ff0000;
  transition: 0.3s;
}

.glow-btn:hover {
  transform: scale(1.1);
}

/* TIMER SCREEN */
.timer-screen {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  /* FIRE GLOW BACKGROUND */
  background: radial-gradient(circle at center, #330000, #000000);
  animation: fireGlow 2s infinite alternate;
}

/* BIG TIMER TEXT */
#timer {
  font-size: 180px;
  letter-spacing: 5px;

  color: #ff3c00;
  text-shadow:
    0 0 20px #ff3c00,
    0 0 40px #ff0000,
    0 0 80px #ff0000,
    0 0 150px #ff0000;
}

/* FIRE ANIMATION */
@keyframes fireGlow {
  from {
    background: radial-gradient(circle at center, #330000, #000);
  }
  to {
    background: radial-gradient(circle at center, #660000, #000);
  }
}

.hidden {
  display: none;
}
